<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebAutomationProject">
 <test name="WebAutomationTest">
 <classes>
 <class name="WebAutomationTest.Frame" />
  <class name="WebAutomationTest.Window" />
   <class name="WebAutomationTest.LaunchBrowser" />
 </classes>
 </test>
</suite>